.item {
    &-container {
        aspect-ratio: 1/1;
        width: 100%;
        max-width: 19.3rem;
        height: 100%;
        border-radius: 0.7rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-lg-container {
        aspect-ratio: 2/1;
        width: auto;
        max-width: none;
    }

    &-linking {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    &-img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        border-radius: 0.7rem;
    }
    &-info {
        position: relative;
        width: 96%;
        margin: 0.3rem;
        border-radius: 0.5rem;
        height: 3.5rem;
        backdrop-filter: saturate(140%) blur(5px);
        background-color: rgba(0, 0, 0, 0.7);
        align-self: center;
        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 0.3rem;
        }
    }
    &-fav-btn {
        aspect-ratio: 1/1;
        background-color: $pbrand;
        opacity: 80%;
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        position: relative;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        margin: 0.3rem;
        &:hover {
            opacity: 100%;
        }
    }
}
@media screen and (max-width: 750px) {
    .item {
        &-container {
            width: 43%;
        }
        &-lg-container {
            width: 100%;
            height: 100%;
        }
        &-info {
            font-size: 0.7rem;
            height: 2.4rem;
        }
        &-lg-info {
            font-size: 1rem;
            height: 3rem;
        }
    }
}
@media screen and (max-width: 370px) {
    .item {
        &-container {
            width: 100%;
        }
    }
}
.carousel {
    &-container {
        aspect-ratio: 2/1;
        width: 100%;
        max-width: 70rem;
        height: 100%;
    }
}
